.main__content
  .main__content__message
    .main__content__message__text
      @posts.content
    .main__content__message__index
      .main__content__message__index__name
        kota
      .main__content__message__index__date
        2020/03/07 15:45