.header
  .header__left
    Homework App
  .header__right
    .header__right__name
      -if user_signed_in?
        =current_user.name

      -else
        =link_to "新規登録", new_user_session_path, method: :get, class:"header__right__name__new"
    .header__right__log
      -if user_signed_in?
        =link_to "ログアウト", destroy_user_session_path, method: :delete, class:"header__right__log__out"
      -else
        =link_to "ログイン", user_session_path, class:"header__right__log__in"
.main
  .main__content
    = render @posts

  -if user_signed_in?
    .form
      =form_for [@post] do |f|
        = f.text_area :content, class: 'form__content', placeholder: '文字を入力（25文字以内）'
        = f.submit "投稿する", class:"form__send", id:"modal-open"

.footer
  Homework App 2019

.modal-overlay

.modal
  .modal__text
    本当に送信しますか？
  .modal__btn
    =link_to root_path, class:"modal-btn__yes" do
      送信する
    =link_to "#", class:"modal-btn__no" do
      閉じる

-# .modal-overlay

-# .modal
-#   .modal__text
-#     本当に送信しますか？
-#   .modal__btn
-#     =link_to "#", class:"modal-btn__yes" do
-#       送信する
-#     =link_to "#", class:"modal-btn__no" do
-#       閉じる