.header
  .header__left
    Homework App
  .header__right
    .header__right__name
      -if user_signed_in?
        =current_user.name
      -else
        =link_to "新規登録", new_user_session_path, method: :get, class:"header__right__name__new"
    .header__right__log
      -if user_signed_in?
        =link_to "ログアウト", destroy_user_session_path, method: :delete, class:"header__right__log__out"
      -else
        =link_to "ログイン", user_session_path, class:"header__right__log__in"
.main
  = render "main_content"

  .form
    .form__box
      %textarea{class:"form__box__input", placeholder:"文字を入力（25文字以内）"}
      = link_to "投稿する", "#", class:"form__box__send"
.footer
  Homework App 2019

  -# .form
  -#   .form__box
  -#     .form__box__input
  -#       %input{class:"form__box__input__text", placeholder:"文字を入力（25文字以内）"}
  -#     .form__box__send
  -#       = link_to "投稿する", "#", class:"form__box__send__btn"